*{
    box-sizing: border-box;
}

header{
    background-color: blue;
    width: 100%;
    height: 100px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

input{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid grey;
}

#city-input,#search-button{
    display: block;
    margin-bottom: 10px;
}

#search-button{
    background-color: blue;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 100%;
}

hr{
    width: 100%; 
    border-top: 2px solid grey; 
    margin: 10px 0; 
}

.container{
    display: grid;
    grid-template-columns: 25% 75%;
}

main{
    margin-top: 10px;
    padding: 10px;
    height: 500px;
}

.current{
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
    padding: 5px;
}

.forecast{
    width: 90%;
    height: 250px;
}

.forecast-data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.forecast-data{
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 10px;
}

aside{
    padding: 10px;
}

.styled-text h2{
    font-size: 20px;
}

.styled-text p{
    font-size: 15px;
}

li{
    list-style: none;
    background-color: lightgray;
    margin-bottom: 5px;
    text-align: center;
    margin-left: -40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}


@media(max-width: 500px) {
    li{
        font-size: 15px;
    }

    #search-button{
        font-size: 15px;
    }

    input{
        font-size: 13px;
    }

    aside h2{
        font-size: 20px;
    }
}

@media(max-width:435px){
    aside h2{
        font-size: 16px;
    }
}
