*{
    box-sizing: border-box;
}

header{
    background-color: orange;
    width: 100%;
    height: 100px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input{
    width: 200px;
    height: 30px;
    font-size: 15px;
}

#city-input,#search-button{
    display: block;
    margin-bottom: 10px;
}

#search-button{
    background-color: orange;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 20px;
    border: none;
}

.container{
    display: grid;
    grid-template-columns: 25% 75%;
}

main{
    margin-top: 10px;
    border: 3px black solid;
    padding: 10px;
    height: 500px;
}

.current{
    border: 3px solid black;
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
}

.future{
    border: 3px solid black;
    width: 90%;
    height: 250px;
}

aside{
    padding: 10px;
}